body {
    display: grid;
    place-items: center;
    width: 100vw;
    overflow-x: hidden;
    gap: 3rem;
}

section {
    margin-top: 2.5rem;
    width: 80%;
}

.input-div {
    display: grid;
    background-color: var(--input-color);
    border-radius: 0.5rem;
    padding: 0.75rem 1rem 0.75rem;
}

label {
    font-size: var(--smaller-font-size);
}

input,
textarea {
    background-color: var(--input-color);
    color: var(--text-color);
    font-family: var(--body-color);
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
    padding: 0.25rem 0 0.5rem 0;
    resize: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.buttons-div {
    display: flex;
    justify-content: end;
    gap: 5rem;
}

button {
    border: none;
    outline: none;
    font-family: var(--body-font);
    cursor: pointer;
    width: 30%;
    justify-content: center;
    font-size: var(--font-medium);
}

a i.uil-signout {
    margin-right: var(--mb-0-5);
}

button i.uil-message {
    margin-left: var(--mb-0-5);
}