<!DOCTYPE html>
<html lang="en">

<head>
    <!--===== META TAGS =====-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Portfolio pessoal referente à projetos criados e apresentação pessoal">
    <meta name="keywords" content="Portfolio, Contato, Apresentação pessoal, Website, Responsivo,">
    <meta name="author" content="Gustavo Nascimento Souza">

    <!--===== PAGE TITLE =====-->
    <title>Confirmar Projeto</title>

    <script>
        alert("Projeto Adicionado com sucesso")
        window.location.replace('/')
    </script>
</head>

</html>