<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!--===== META TAGS =====-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Portfolio pessoal referente à projetos criados e apresentação pessoal">
    <meta name="keywords" content="Portfolio, Contato, Apresentação pessoal, Website, Responsivo,">
    <meta name="author" content="Gustavo Nascimento Souza">

    <!--===== UNICONS LINE =====-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!--===== GLOBAL CSS =====-->
    <link rel="stylesheet" href="./css/global.css">

    <!--===== ERROR CSS =====-->
    <link rel="stylesheet" href="./css/modal.css">

    <!--===== FAVICON =====-->
    <link rel="icon" type="image/x-icon" href="./img/favicon.ico">

    <!--===== PAGE TITLE =====-->
    <title>E-mail enviado</title>

</head>

<body>
    <div class="modal-wrapper">
        <div class="modal-content">
            <h3 class="modal-title">E-mail enviado</h3>
            <p class="modal-description">O e-mail foi enviado com sucesso!</p>
            <a href="/" class="button button-flex">
                OK
                <i class="uil uil-check"></i>
            </a>
        </div>
    </div>
</body>

</html>